/* reset css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}
@import url("https://fonts.googleapis.com/css?family=Varela");
/*------------------------------------*\
    Logo
\*------------------------------------*/
body {
  margin: 0;
}
.logo-container {
  /* top: 0; */
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: 9999;
}
#bolt_shadow {
  position: absolute;
  fill: #212121;
  stroke: #212121;
  stroke-width: 110px;
  left: 2px;
  top: 0px;
  overflow: initial;
}
#bolt_svg,
#cog_svg {
  position: absolute;
  left: -16px;
  width: 135%;
}
.logo_svg {
  width: 100%;
  height: 100%;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
#cog_svg {
  width: 80%;
  left: 10%;
}
#bolt_path {
  fill: #ffffff;
  text-shadow: 2px 2px 500px rgba(0, 0, 0, 0.5);
  z-index: 2;
}
#cog_path {
  fill: #ffffff;
}
.logo {
  width: 100px;
  height: 100px;
  display: block;
  right: 20px;
  z-index: 2;
  transition: 0.3s;
}
.logo a {
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}
/*------------------------------------*\
    Loading Screen
\*------------------------------------*/
.loading-screen {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 1000;
}
.loading-background {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  background: #222222;
  animation: slideIn 0.3s ease-out;
  border-radius: 1%;
}
.logo-loading {
  transition: 3s;
  transform: scale(1);
  animation: scaleIn 0.3s ease-In;
}
.particle-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: 1001;
}
.particle-line {
  width: 100%;
  height: 1px;
  position: absolute;
  background: #ffffff;
  left: -100%;
  top: 0;
  transition: 0.5s;
  opacity: 1;
}
/* No Javascript */
.no-js #loader-wrapper {
  display: none;
}
.no-js h1 {
  color: #222222;
}
.smooth_rotation {
  -webkit-animation: rotating 10s linear infinite;
  -moz-animation: rotating 10s linear infinite;
  -ms-animation: rotating 10s linear infinite;
  -o-animation: rotating 10s linear infinite;
  animation: rotating 10s linear infinite;
}
.particle-line {
  animation: Zoom 2s cubic-bezier(0.645, 0.045, 0.355, 1) infinite;
}
.loaded .logo-loading {
  animation: scaleOut 0.2s ease-out;
}
.loaded .logo-container {
  opacity: 0;
}
.loaded .particle-container {
  animation: fadeOut 1s ease-out;
  opacity: 0;
}
.loaded .loading-background {
  animation: slideOut 0.3s ease-In;
  top: 100%;
  right: 100%;
}
/*------------------------------------*\
    Animations
\*------------------------------------*/
@keyframes slideIn {
  from {
    top: -100%;
    right: -100%;
  }
  to {
    top: 0;
    right: 0;
  }
}
@keyframes slideOut {
  from {
    top: 0;
    right: 0;
  }
  to {
    top: 100%;
    right: 100%;
  }
}
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeOut {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}
@keyframes scaleIn {
  from {
    transform: scale(0.2);
  }
  to {
    transform: scale(1.1);
  }
}
@keyframes scaleOut {
  from {
    transform: scale(1);
  }
  to {
    transform: scale(0.2);
  }
}
@keyframes Zoom {
  from {
    transform: translate(0) scale(0.2);
  }
  to {
    transform: translateX(200%) scale(0);
  }
}
/*------------------------------------*\
    Header
\*------------------------------------*/
.particles {
  transform: rotate(135deg);
  position: relative;
  width: 100%;
  height: 100%;
}
.loading-text {
  font-family: sans-serif;
  font-weight: 100;
  color: white;
  z-index: 1002;
}
img {
  clip-path: url(#clipping);
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text_all {
  max-width: 750px;
  margin: 0 auto;
}

.text_all h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}

.text_all h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.text_all p {
  color: #5a5a5a;
  line-height: 22.5px;
  font-weight: 400;
  margin: 16px auto;
}

/* mode */
/* Light theme */
#myBody {
  background-color: #ffffff;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #131617;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .text_all h3 {
  color: #eee;
}

.dark .text_all p {
  color: #b7b7b7;
}

/* Dark Theme--header*/
.dark header.header {
  background-color: #131617;
}

.dark header.header.active {
  background-color: #131617;
}

.dark .navbar .navbar-nav .nav-item a {
  color: #eee;
}

.dark .navbar .navbar-nav .nav-item ul {
  background-color: #131617;
  border: 1px solid #333;
}

.dark .navbar .search button {
  color: #b7b7b7;
  background: #191c1d;
  border: 1px solid #333;
}

.dark .navbar .search button:hover {
  color: white;
  opacity: 1;
}

/* Dark Theme--breadcrumb*/
.dark .breadcrumb_home {
  background: #191c1d !important;
  color: #eee;
}

/* breadcrumb  */
.breadcrumb_home {
  padding: 15px 20px;
  margin-top: 90px;
}

.breadcrumb_home a {
  color: #dc4f72;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 14px;
}

.breadcrumb_home a:hover {
  text-decoration: underline;
}

/* dark theme--error  */
.dark .error h2,
.dark .error p,
.dark .error .back a {
  color: white;
}

/* Dark Theme--footer*/
.dark footer > div {
  background: #191c1d !important;
}

.dark footer h3 {
  color: #eee;
}

.dark .footer_form {
  background: #131617 !important;
}

.dark footer h4 {
  color: #eee;
}

.dark footer p {
  color: #b7b7b7;
}

.dark .footer_email {
  background: #191c1d !important;
}

.dark .footer_right {
  border-top: 1px solid #333 !important;
}

.dark .footer_icon li a {
  color: #eee;
}

/* header */
header .mode {
  order: 3;
}

.navbar .navbar-brand h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #de5879;
}

.navbar .navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.5s;
  color: #2c3038;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #de5879;
}

.navbar .navbar-nav .nav-item .nav1_active {
  color: #de5879;
}

.navbar .navbar-nav .nav-item .dropdown_icon i {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 16px;
}

.navbar a.nav-link::before,
.navbar a.dropdown-item::before {
  position: absolute;
  content: "";
  background: #de5879;
  width: 0px;
  height: 2px;
  bottom: 0px;
  transition: all 0.5s;
}

.navbar .nav-item a.nav-link::before {
  bottom: 5px;
}

.navbar a.nav-link:hover::before,
.navbar a.dropdown-item:hover::before {
  width: 20px;
}

.navbar a.nav-link:hover,
.navbar a.dropdown-item:hover {
  color: #de5879;
  background: none;
}

.navbar .search button {
  color: #5a5a5a;
  font-size: 15px;
  opacity: 0.7;
  width: 40px;
  height: 40px;
  background: #f7f9fc;
  border-radius: 50px;
  border: 1px solid #eee;
  transition: all 0.5s;
  position: relative;
}

.navbar .search button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar .search button:hover {
  color: #2c3038;
  opacity: 1;
}

.navbar .openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.navbar .openBtn:hover {
  background: #bbb;
}

.navbar .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #000000ba;
}

.navbar .overlay-content {
  position: relative;
  top: 50%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.navbar .overlay .closebtn {
  position: absolute;
  right: 0;
  top: -80px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.navbar .overlay .closebtn:hover {
  opacity: 1;
}

.navbar .overlay input[type="text"] {
  outline: none;
  line-height: 25px;
  color: #5a5a5a;
  height: 55px;
  padding: 15px 20px 12px;
  background: #ffff;
  width: 100%;
  border: none;
  border-radius: 6px 0 0 6px;
}

.navbar .overlay button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background: #dc4f72;
  padding: 0 25px;
  border-radius: initial;
  border-radius: 0 6px 6px 0;
}

.navbar .overlay button:hover {
  opacity: 0.8;
}

.navbar .btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.navbar .btn {
  display: inline-block;
  line-height: 50px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 30px;
  transition: all 1s;
  text-transform: uppercase;
}

.navbar .btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.navbar .schedule a:hover {
  outline: 0;
}

header.header {
  background-color: #fff;
  padding: 0px;
  height: 90px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in-out;
}

header.header.active {
  background-color: #fff;
  padding: 0px;
  height: 70px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

header .navbar {
  transition: all 0.5s ease-in-out;
}

header .navbar.active {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

.owl-carousel.owl-loaded {
  position: relative;
}

.owl-carousel .owl-nav button.owl-prev {
  position: absolute;
  top: 35%;
  left: 5px;
  transition: all 0.5s;
}

.owl-carousel .owl-nav button.owl-prev:hover,
.owl-carousel .owl-nav button.owl-next:hover {
  background-color: #de5879;
}

.owl-carousel .owl-nav button.owl-next {
  position: absolute;
  right: -40px;
  top: 35%;
}

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  color: #fff;
  font-size: 20px;
  margin: 0px;
  padding: 0;
  background: rgba(220, 79, 114, 0.4);
  display: inline-block;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  height: 40px;
  width: 40px;
  line-height: 40px;
  border-radius: 50%;
}

/* error  */
.error {
  margin-top: 90px;
  padding: 80px 0;
}

.error .error_content {
  max-width: 600px;
  margin: auto;
}
.error .error_top h1 {
  font-weight: 600;
  font-size: 100px;
  color: #dc4f72;
}
.error .error_top h1 i {
  font-size: 90px;
}

.error .error_top h2 {
  font-weight: 600;
}

.error .error_top p {
  opacity: 0.6;
}

.error form {
  max-width: 600px;
}

.error .error_bot input {
  padding: 16px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 4px 0px 0 4px;
}
.error .error_bot input:focus {
  border: 1px solid #dc4f72;
  outline: none;
}

.error .error_bot button {
  padding: 16px;
  width: 100px;
  background-color: #dc4f72;
  border: transparent;
  color: white;
  border-radius: 4px;
  position: relative;
  left: -3px;
  transition: all 0.5s;
}
.error .error_bot button:hover {
  opacity: 0.8;
}

.error .back a {
  color: black;
  font-weight: 700;
  transition: all 0.5s;
}
.error .back a:hover,
.error .back a:hover i {
  color: #dc4f72;
}

.error .back i {
  color: #5a5a5a;
  transition: all 0.5s;
}

/* foooter */
footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.footer_item li a {
  color: #656f7b;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-decoration: none;
}

footer h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

footer input[type="email"] {
  padding: 12px 20px;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  outline: 0;
}

footer button {
  background: #dc4f72;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  outline: 0;
}

footer p {
  line-height: 22px;
  color: #5a5a5a;
}

.footer_icon li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer i {
  font-size: 15px;
  line-height: 36px;
}

footer a:hover {
  color: #dc4f72 !important;
  transition: 0.5s ease;
}

/* back to top */
.back_to_top {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f55f8d;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
}

.back_to_top i {
  color: white;
}

/* style of button back to top  */
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.8;
}

.cd-top--is-visible:hover {
  opacity: 1;
}

/* responsive */
@media screen and (max-width: 1200px) {
  /* header */
  header .navbar .btn {
    line-height: 40px;
    font-weight: 700;
    padding: 0px 20px;
  }

  header .nav-item {
    padding-right: 0px !important;
  }

  .navbar .navbar-nav .nav-item .dropdown_icon i {
    font-size: 10px;
    position: absolute;
    right: -6px;
    top: 16px;
  }

  /* error  */
  .error p {
    font-size: 15px;
  }
}

@media screen and (max-width: 992px) {
  /* header */
  header .navbar-brand {
    flex-grow: 1;
  }

  header .mode {
    order: 0;
    flex-grow: 0;
    padding-right: 20px;
  }

  header {
    height: auto;
  }

  header .navbar .navbar-toggler {
    border: 1px solid #dc4f72;
    background: #dc4f72;
    padding: 4px 6px;
    flex-grow: 0;
  }

  header .navbar .navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid #f0bf0d;
  }

  header .navbar-nav li,
  header .search,
  header .schedule {
    text-align: center;
  }

  header .navbar-collapse {
    background-color: #ffffff;
    width: 100%;
  }

  .dark header .navbar-collapse {
    background-color: #131617;
    border: 1px solid #333;
    width: 100%;
  }

  .navbar a.nav-link::before,
  .navbar a.dropdown-item::before {
    display: none;
  }

  .navbar .navbar-nav .nav-item .dropdown_icon i {
    top: 15px;
    right: 15px;
  }

  .navbar .btn {
    line-height: 44px;
    padding: 0 20px;
  }

  .navbar .schedule {
    margin-bottom: 15px;
  }

  /* error  */
  .error h2 {
    font-size: 29px;
  }

  .error p {
    font-size: 14px;
  }

  /* footer */
  footer .container > div {
    flex-direction: column;
  }

  footer h3 {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 767px) {
  /* error  */
  .error .error_top h1,
  .error .error_top h1 i {
    font-size: 50px !important;
  }
}

@media screen and (max-width: 576px) {
  .text_all h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .navbar .overlay .closebtn {
    right: 10px;
  }

  /* banner */

  .banner_start h2 {
    font-size: 40px;
    line-height: 45px;
  }

  /* business */
  .business_btn .btn {
    line-height: 44px;
    padding: 0 20px;
  }

  /* perform */
  .perform_content p {
    font-size: 15px;
    line-height: 22px;
    margin-bottom: 30px;
  }

  /* people */
  .people_content .people_block .people_item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .people_block .people_item p,
  .people_block .people_item h4 {
    text-align: center;
  }

  .people_text i {
    position: absolute;
    top: -35px;
    transform: translateX(50%);
  }
}

@media screen and (max-width: 384px) {
  /* error  */
  .error form {
    flex-wrap: wrap;
  }

  .error .error_bot form button {
    width: 100%;
    margin-top: 5px;
  }
}
