* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text_all {
  max-width: 750px;
  margin: 0 auto;
}

.text_all h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}

.text_all h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.text_all p {
  color: #5a5a5a;
  line-height: 22.5px;
  font-weight: 400;
  margin: 16px auto;
}

/* mode */
/* Light theme */
#myBody {
  background-color: #ffffff;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #131617;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .text_all h3 {
  color: #eee;
}

.dark .text_all p {
  color: #b7b7b7;
}
.dark .null {
  background-color: #191c1d;
}
/* Dark Theme--header*/
.dark header.header {
  background-color: #131617;
}

.dark header.header.active {
  background-color: #131617;
}

.dark .navbar .navbar-nav .nav-item a {
  color: #eee;
}

.dark .navbar .navbar-nav .nav-item ul {
  background-color: #131617;
  border: 1px solid #333;
}

.dark .navbar .search button {
  color: #b7b7b7;
  background: #191c1d;
  border: 1px solid #333;
}

.dark .navbar .search button:hover {
  color: white;
  opacity: 1;
}

/* Dark Theme--breadcrumb*/
.dark .breadcrumb_home {
  background: #191c1d !important;
  color: #eee;
}

/* Dark Theme--content */
.dark .content h4,
.dark .content u,
.dark .content span,
.dark .content s {
  color: white;
}
.dark .content .content_star,
.dark .container .content_evaluate2,
.dark .content .content_des {
  border-color: rgba(255, 255, 255, 0.452);
}
.dark .content .content_des {
  color: white;
}

/* Dark Theme-detail  */
.dark .detail h2 {
  background-color: #191c1d;
}
.dark .detail {
  color: white;
}

/* Dark Theme-evoluate  */
.dark .evoluate .evoluate_content {
  background-color: #fffbf80c;
}
.dark .evoluate .evoluate_content li {
  background-color: rgba(128, 128, 128, 0.081);
  color: white;
}
.dark .evoluate .evoluate_comment_right p,
.dark .evoluate .evoluate_comment {
  color: white;
}

/* Dark Theme--footer*/
.dark footer > div {
  background: #191c1d !important;
}

.dark footer h3 {
  color: #eee;
}

.dark .footer_form {
  background: #131617 !important;
}

.dark footer h4 {
  color: #eee;
}

.dark footer p {
  color: #b7b7b7;
}

.dark .footer_email {
  background: #191c1d !important;
}

.dark .footer_right {
  border-top: 1px solid #333 !important;
}

.dark .footer_icon li a {
  color: #eee;
}

/* header */
header .mode {
  order: 3;
}

.navbar .navbar-brand h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #de5879;
}

.navbar .navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.5s;
  color: #2c3038;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #de5879;
}

.navbar .navbar-nav .nav-item .dropdown_icon i {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 16px;
}

.navbar a.nav-link::before,
.navbar a.dropdown-item::before {
  position: absolute;
  content: "";
  background: #de5879;
  width: 0px;
  height: 2px;
  bottom: 0px;
  transition: all 0.5s;
}

.navbar .nav-item a.nav-link::before {
  bottom: 5px;
}

.navbar a.nav-link:hover::before,
.navbar a.dropdown-item:hover::before {
  width: 20px;
}

.navbar a.nav-link:hover,
.navbar a.dropdown-item:hover {
  color: #de5879;
  background: none;
}

.navbar .search button {
  color: #5a5a5a;
  font-size: 15px;
  opacity: 0.7;
  width: 40px;
  height: 40px;
  background: #f7f9fc;
  border-radius: 50px;
  border: 1px solid #eee;
  transition: all 0.5s;
  position: relative;
}

.navbar .search button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar .search button:hover {
  color: #2c3038;
  opacity: 1;
}

.navbar .openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.navbar .openBtn:hover {
  background: #bbb;
}

.navbar .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #000000ba;
}

.navbar .overlay-content {
  position: relative;
  top: 50%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.navbar .overlay .closebtn {
  position: absolute;
  right: 0;
  top: -80px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.navbar .overlay .closebtn:hover {
  opacity: 1;
}

.navbar .overlay input[type="text"] {
  outline: none;
  line-height: 25px;
  color: #5a5a5a;
  height: 55px;
  padding: 15px 20px 12px;
  background: #ffff;
  width: 100%;
  border: none;
  border-radius: 6px 0 0 6px;
}

.navbar .overlay button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background: #dc4f72;
  padding: 0 25px;
  border-radius: initial;
  border-radius: 0 6px 6px 0;
}

.navbar .overlay button:hover {
  opacity: 0.8;
}

.navbar .schedule .btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.navbar .schedule .btn {
  display: inline-block;
  line-height: 50px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 30px;
  transition: all 1s;
  text-transform: uppercase;
}

.navbar .btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.navbar .schedule .btn:hover {
  outline: 0;
}
header .navbar .navbar-nav .nav-item a {
  color: black;
  font-weight: bold;
  font-size: 25px;
}

header.header {
  background-color: #fff;
  padding: 0px;
  height: 90px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in-out;
}

header.header.active {
  background-color: #fff;
  padding: 0px;
  height: 70px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

header .navbar {
  transition: all 0.5s ease-in-out;
}

header .navbar.active {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

/* breadcrumb  */
.breadcrumb_home {
  padding: 15px 20px;
  margin-top: 90px;
}

.breadcrumb_home a {
  color: #dc4f72;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 14px;
}

.breadcrumb_home a:hover {
  text-decoration: underline;
}

/* content  */
.content {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.null {
  background-color: #f8f9fa;
}
.content img {
  width: 100%;
  object-fit: fill;
  object-position: left;
}
.content .content_right {
  width: 50%;
}
.content .content_left {
  width: 40%;
  margin-right: 50px;
}
.content_group {
  display: flex;
}

.content .content_evaluate {
  font-size: 20px;
}
.content .content_evaluate u {
  margin-right: 10px;
}
.content .content_star,
.content .content_evaluate2 {
  border-right: 1px solid black;
  margin-right: 20px;
}
.content .content_star .star5 {
  margin-right: 20px;
}
.content .content_price {
  background-color: rgba(128, 128, 128, 0.164);
}
.content .content_price p {
  font-size: 25px;
  margin-left: 20px;
  margin-bottom: unset;
  color: #dc4f72;
}
.content .des_content li {
  line-height: 40px;
}
.content .content_des {
  border: 1px solid black;
}
.content .content_btnbuy button {
  background-image: linear-gradient(
    to right,
    #f55f8d 0,
    #f8ae56 51%,
    #f55f8d 100%
  );
  margin: 10px 20px;
  padding: 10px;
  font-size: 20px;
  font-weight: bold;
  background-size: 200%;
  transition: all 0.3s;
  color: white;
}
.content h5 {
  color: #de5879;
}
.content .content_btnbuy button:hover {
  background-position: right;
  font-size: 25px;
}
.content i {
  color: #dc4f72;
}

/* .detail */
.detail {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

  padding: 50px 0;
}
.detail .des_content {
  background-color: white;
}
.detail h2 {
  font-weight: bold;
  color: #de5879;
  background-color: #eaeaea;
  padding: 20px 0px 20px 7px;
}

.detail p {
  margin-left: 7px;
  font-weight: bold;
  font-size: 20px;
}
.detail ul {
  list-style: circle;
}
.detail ul li {
  line-height: 30px;
}

/* .evoluate */
.evoluate h2 {
  color: #de5879;
}
.evoluate .evoluate_content {
  background-color: #fffbf8;
  padding: 0 50px;
  display: flex;
  border: 3px solid #dc4f7227;
}
.evoluate .evoluate_comment_item {
  display: flex;
}

.evoluate {
  padding: 30px 0;
}
.evoluate p {
  font-size: 20px;
  color: #dc4f72;
}
.evoluate p span {
  font-size: 25px;
}

.evoluate .evoluate_left i {
  color: #de5879;
  font-size: 13px;
}
.evoluate .evoluate_right ul {
  display: flex;
  flex-wrap: wrap;
}
.evoluate .evoluate_right ul li {
  font-weight: bold;
  width: 25%;
  padding: 5px;
  margin: 5px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.216);
  text-align: center;
  transition: all 0.5s;
}
.evoluate .evoluate_right ul li.active {
  border: 2px solid #dc4f72;
  color: #dc4f72;
}
.evoluate .evoluate_right ul li:hover {
  border-color: #dc4f72;
  color: #dc4f72;
}

.evoluate .evoluate_comment_item:last-child .evoluate_comment_left {
  margin-right: -10%;
}
.evoluate .evoluate_comment_item:first-child .evoluate_comment_left {
  margin-right: -15%;
}

.evoluate .evoluate_comment_left {
  width: 30%;
}
.evoluate .evoluate_comment_left img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
}
.evoluate .evoluate_comment_right p {
  color: black;
  font-size: 15px;
}
.evoluate .evoluate_comment_item hr {
  color: black;
}
.evoluate .evoluate_comment_item i {
  color: #dc4f72;
  margin-bottom: 10px;
}
.evoluate .evoluate_comment_right img {
  width: 20%;
}

/* foooter */
footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.footer_item li a {
  color: #656f7b;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-decoration: none;
}

footer h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

footer input[type="email"] {
  padding: 12px 20px;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  outline: 0;
}

footer button {
  background: #dc4f72;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  outline: 0;
}

footer p {
  line-height: 22px;
  color: #5a5a5a;
}

.footer_icon li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer i {
  font-size: 15px;
  line-height: 36px;
}

footer a:hover {
  color: #dc4f72 !important;
  transition: 0.5s ease;
}

footer p {
  line-height: 22px;
  color: #5a5a5a;
}

.footer_icon li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer i {
  font-size: 15px;
  line-height: 36px;
}

footer a:hover {
  color: #dc4f72 !important;
  transition: 0.5s ease;
}

/* back to top */
.back_to_top {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f55f8d;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
}

.back_to_top i {
  color: white;
}

/* style of button back to top  */
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.8;
}

.cd-top--is-visible:hover {
  opacity: 1;
}

/* .action button */

/* responsive */
@media screen and (max-width: 1200px) {
  /* header */
  header .navbar .btn {
    line-height: 40px;
    font-weight: 700;
    padding: 0px 20px;
  }

  header .nav-item {
    padding-right: 0px !important;
  }

  .navbar .navbar-nav .nav-item .dropdown_icon i {
    font-size: 10px;
    position: absolute;
    right: -6px;
    top: 16px;
  }
}

@media screen and (max-width: 992px) {
  /* header */
  header .navbar-brand {
    flex-grow: 1;
  }

  header .mode {
    order: 0;
    flex-grow: 0;
    padding-right: 20px;
  }

  header {
    height: auto;
  }

  header .navbar .navbar-toggler {
    border: 1px solid #dc4f72;
    background: #dc4f72;
    padding: 4px 6px;
    flex-grow: 0;
  }

  header .navbar .navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid #f0bf0d;
  }

  header .navbar-nav li,
  header .search,
  header .schedule {
    text-align: center;
  }

  header .navbar-collapse {
    background-color: #ffffff;
    width: 100%;
  }

  .dark header .navbar-collapse {
    background-color: #131617;
    border: 1px solid #333;
    width: 100%;
  }

  .navbar a.nav-link::before,
  .navbar a.dropdown-item::before {
    display: none;
  }

  .navbar .navbar-nav .nav-item .dropdown_icon i {
    top: 15px;
    right: 15px;
  }

  .navbar .btn {
    line-height: 44px;
    padding: 0 20px;
  }

  .navbar .schedule {
    margin-bottom: 15px;
  }
  /* content  */

  .content .content_right {
    position: relative;
  }
  .content .content_des {
    position: absolute;
    top: 100%;
    right: -5%;

    width: 200%;
  }
  .content .content_group {
    margin-bottom: 80%;
  }
  /* .evoluate  */
  .evoluate .evoluate_comment_left {
    width: 40%;
    margin-right: 10px;
  }
  .evoluate .evoluate_comment_item:first-child .evoluate_comment_left {
    margin-right: -10%;
  }
  .evoluate .evoluate_comment_item:last-child .evoluate_comment_left {
    margin-right: -5%;
  }
  .evoluate .evoluate_left {
    width: 40%;
  }
  .evoluate .evoluate_left p {
    font-size: 20px;
  }
  .evoluate .evoluate_left span {
    font-size: 30px;
  }
  .evoluate .evoluate_comment_left img {
    height: 100px;
    width: 100px;

    object-fit: cover;
    object-position: center;
  }
  /* footer */
  footer .container > div {
    flex-direction: column;
  }

  footer h3 {
    margin-bottom: 18px;
  }
}
@media screen and (max-width: 768px) {
  /* .content  */

  .content .content_group {
    margin-bottom: 120%;
  }
  .content .content_price p {
    font-size: 15px;
  }
  .content .content_btnbuy button {
    font-size: 17px;
    margin: 5px 5px 0px 0px;
  }
  .evoluate .evoluate_left {
    width: 100%;
  }
  .evoluate .evoluate_right ul li {
    width: 45%;
  }
  .evoluate .evoluate_comment_left {
    width: 40%;
    margin-right: 10px;
  }
  .evoluate .evoluate_comment_left img {
    height: 100px;
    width: 100px;

    object-fit: cover;
    object-position: center;
  }
  .evoluate .evoluate_comment_item:first-child .evoluate_comment_left {
    margin-right: 2%;
  }
  .evoluate .evoluate_comment_item:last-child .evoluate_comment_left {
    margin-right: 2%;
  }
  .evoluate .evoluate_content {
    display: block;
    text-align: center;
  }
  .evoluate .evoluate_left {
    margin-bottom: 10px;
  }
}

@media screen and (max-width: 576px) {
  .text_all h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .navbar .overlay .closebtn {
    right: 10px;
  }
  /* content  */
  .content .content_des {
    position: absolute;
    top: 100%;
    right: 0%;

    width: 100%;
  }
  .content .content_group {
    display: block;
  }
  .content .content_left,
  .content .content_right {
    width: 100%;
  }
}
@media screen and (max-width: 428px) {
  /* .content  */

  .content .content_group {
    margin-bottom: 160%;
  }

  .content .content_des {
    position: absolute;
    top: 100%;
    right: 0%;

    width: 100%;
  }
}
@media screen and (max-width: 386px) {
  .content .content_group {
    margin-bottom: 200%;
  }
  .evoluate .evoluate_right ul li {
    width: 100%;
  }
}
@media screen and (max-width: 333px) {
  .content .content_group {
    margin-bottom: 300%;
  }
}
