* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
  line-height: 1.5;
}


ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text_all {
  max-width: 750px;
  margin: 0 auto;
}

.text_all h6 {
  line-height: 20px;
  font-weight: 700;
  color: #dc4f72;
  margin-bottom: 5px;
}

.text_all h3 {
  color: #2c3038;
  font-size: 46px;
  line-height: 1;
  font-weight: 700;
}

.text_all p {
  color: #5a5a5a;
  line-height: 22.5px;
  font-weight: 400;
  margin: 16px auto;
}

/* mode */
/* Light theme */
#myBody {
  background-color: #ffffff;
}

#switchButton .fa-sun {
  display: none;
}

#switchButton .fa-moon {
  display: block;
}

/* Dark Theme*/
.dark#myBody {
  background-color: #131617;
}

.dark #switchButton .fa-sun {
  display: block;
  color: white;
}

.dark #switchButton .fa-moon {
  display: none;
}

.dark .text_all h3 {
  color: #eee;
}

.dark .text_all p {
  color: #b7b7b7;
}

/* Dark Theme--header*/
.dark header.header {
  background-color: #131617;
}

.dark header.header.active {
  background-color: #131617;
}

.dark .navbar .navbar-nav .nav-item a {
  color: #eee;
}

.dark .navbar .navbar-nav .nav-item ul {
  background-color: #131617;
  border: 1px solid #333;
}

.dark .navbar .search button {
  color: #b7b7b7;
  background: #191c1d;
  border: 1px solid #333;
}

.dark .navbar .search button:hover {
  color: white;
  opacity: 1;
}

/* Dark Theme--banner*/
.dark .banner_bg {
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.92)),
    url(./../../img/banner.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
}

.dark .banner_start h2 {
  color: #eee;
}

.dark .banner_start p {
  color: #b7b7b7;
}

/* Dark Theme--about*/

.dark .about h2 {
  color: #eee;
}

.dark .about .about_content p {
  color: #b7b7b7;
}

.dark .about .about_content h3 {
  color: #eee;
}

.dark .about .about_content span {
  color: #b7b7b7;
}

/* Dark Theme--news*/
.dark .new_content h4 {
  color: #b7b7b7 !important;
}

.dark .new_content p {
  color: #eee !important;
}

/* Dark Theme--business*/
.dark .business {
  background-color: #191c1d !important;
}

.dark .business_text h3 {
  color: #eee;
}

.dark .business_text p {
  color: #b7b7b7;
}

.dark .business_border {
  background-color: #131617;
  border: 1px solid #333;
}

.dark .business_number_item h6 {
  color: #eee;
}

.dark .business_number_item p {
  color: #b7b7b7;
}

/* Dark theme feat  */
.dark .features .title h2 {
  color: #fff !important;
}

/* Dark Theme--services*/
.dark .services h2 {
  color: #eee;
}

.dark .services .content_left h3 {
  color: #eee;
}

.dark .services .content_left p {
  color: #b7b7b7 !important;
}

.dark .services .item .icon {
  background: #191c1d;
  box-shadow: 1px 5px 7.5px rgba(14, 13, 13, 0.2);
}

.dark .content_right h5 {
  color: #eee;
}

.dark .content_right p {
  color: #b7b7b7;
}

/* dark theme features  */
.dark .features_services .title h2 {
  color: #fff;
}

.dark .features_services .content h3 {
  color: #fff;
}

.dark .features_services ul li span {
  color: #fff;
}

.dark .features_services p {
  color: #b7b7b7 !important;
}

/* Dark Theme--products*/
.dark .products {
  background: #191c1d !important;
}

.dark .products p {
  color: #b7b7b7 !important;
}

.dark .products .number span {
  background: #131617;
}

.dark .products .bg img {
  border: 5px solid #333;
}

.dark .products .document h4 {
  color: #eee;
}

.dark .products .document p {
  color: #b7b7b7 !important;
}

/* Dark thêm-breadcrumd  */
.dark .breadcrumb_home {
  background-color: #191C1D !important;
  color: #fff;
}

/* Dark Theme--general*/
.dark .general {
  background-color: #191c1d !important;
}

.dark .general .general_item ul li {
  border: 1px solid #333;
  background: #131617;
}

.dark .general .general_item h2 {
  color: #eee;
}

.dark .general .general_item p {
  color: #b7b7b7;
}

.dark .general .general_item ul li i:before,
.dark .general .general_item ul li i:after {
  background-color: #eee;
}

/* Dark Theme--project*/
.dark .project_number .nav li {
  background: #131617;
}

.dark .project_number .nav-link {
  color: #eee;
  border-bottom: 3px solid #333;
}

.dark .project .tab-content h3 {
  color: #eee;
}

.dark .project .tab-content p {
  color: #b7b7b7;
}

/* Dark Theme--people*/
.dark .people_bg {
  background: linear-gradient(to right, #131617, rgba(255, 255, 255, 0.77)),
    url(./../../img/b2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

.dark .people_item {
  background: #131617;
}

.dark .people_text p,
.dark .people_text i {
  color: #eee;
}

.dark .people_text .people_name p {
  color: #b7b7b7;
}

.dark .carousel-indicators [data-bs-target] {
  background-color: #131617;
}

/* Dark Theme--contact*/
.dark .contact_title h2,
.dark .contact_text h3 {
  color: #eee !important;
}

.dark .contact_box {
  background: #131617;
}

.dark .contact_box p {
  color: #b7b7b7;
}

.dark .contact_form input.contact-input,
.dark .contact_form textarea {
  color: #eee;
  border: 1px solid #333;
  background: #191c1d;
}

/* Dark Theme--touch*/
.dark .touch {
  background: #191c1d !important;
}

.dark .touch_item {
  background: #131617;
  border: 1px solid #131617;
}

.dark .touch_item:hover {
  background: #131617;
  border: 1px solid #131617;
}

.dark .touch_item h3 {
  color: #eee;
}

.dark .touch_item p,
.dark .touch_item a {
  color: #b7b7b7;
}

/* Dark Theme--map*/
.dark .map iframe {
  filter: grayscale(100%);
}

/* Dark Theme--footer*/
.dark footer>div {
  background: #191c1d !important;
}

.dark footer h3 {
  color: #eee;
}

.dark .footer_form {
  background: #131617 !important;
}

.dark footer h4 {
  color: #eee;
}

.dark footer p {
  color: #b7b7b7;
}

.dark .footer_email {
  background: #191c1d !important;
}

.dark .footer_right {
  border-top: 1px solid #333 !important;
}

.dark .footer_icon li a {
  color: #eee;
}

/* header */
header .mode {
  order: 3;
}

.navbar .navbar-brand h1 {
  font-size: 26px;
  font-weight: 700;
  letter-spacing: -1px;
  color: #de5879;
}

.navbar .navbar-nav .nav-item a {
  font-weight: 400;
  transition: all 0.5s;
  color: #2c3038;
}

.navbar .navbar-nav .nav-item .nav-link.active {
  color: #de5879;
}

.navbar .navbar-nav .nav-item .dropdown_icon i {
  font-size: 10px;
  position: absolute;
  right: 5px;
  top: 16px;
}

.navbar a.nav-link::before,
.navbar a.dropdown-item::before {
  position: absolute;
  content: "";
  background: #de5879;
  width: 0px;
  height: 2px;
  bottom: 0px;
  transition: all 0.5s;
}

.navbar .nav-item a.nav-link::before {
  bottom: 5px;
}

.navbar a.nav-link:hover::before,
.navbar a.dropdown-item:hover::before {
  width: 20px;
}

.navbar a.nav-link:hover,
.navbar a.dropdown-item:hover {
  color: #de5879;
  background: none;
}

.navbar .search button {
  color: #5a5a5a;
  font-size: 15px;
  opacity: 0.7;
  width: 40px;
  height: 40px;
  background: #f7f9fc;
  border-radius: 50px;
  border: 1px solid #eee;
  transition: all 0.5s;
  position: relative;
}

.navbar .search button i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.navbar .search button:hover {
  color: #2c3038;
  opacity: 1;
}

.navbar .openBtn {
  background: #f1f1f1;
  border: none;
  padding: 10px 15px;
  font-size: 20px;
  cursor: pointer;
}

.navbar .openBtn:hover {
  background: #bbb;
}

.navbar .overlay {
  height: 100%;
  width: 100%;
  display: none;
  position: fixed;
  z-index: 99;
  top: 0;
  left: 0;
  background-color: #000000ba;
}

.navbar .overlay-content {
  position: relative;
  top: 50%;
  max-width: 600px;
  text-align: center;
  margin: 0 auto;
}

.navbar .overlay .closebtn {
  position: absolute;
  right: 0;
  top: -80px;
  transition: all 200ms;
  font-size: 30px;
  text-decoration: none;
  color: #fff;
  opacity: 0.7;
  cursor: pointer;
}

.navbar .overlay .closebtn:hover {
  opacity: 1;
}

.navbar .overlay input[type="text"] {
  outline: none;
  line-height: 25px;
  color: #5a5a5a;
  height: 55px;
  padding: 15px 20px 12px;
  background: #ffff;
  width: 100%;
  border: none;
  border-radius: 6px 0 0 6px;
}

.navbar .overlay button {
  font-size: 17px;
  line-height: 28px;
  text-align: center;
  color: #f5f9fc;
  font-weight: 500;
  height: 55px;
  border: none;
  background: #dc4f72;
  padding: 0 25px;
  border-radius: initial;
  border-radius: 0 6px 6px 0;
}

.navbar .overlay button:hover {
  opacity: 0.8;
}

.navbar .btn-outline-primary {
  color: #dc4f72;
  border-color: #dc4f72;
}

.navbar .btn {
  display: inline-block;
  line-height: 50px;
  font-weight: 700;
  margin: 0px;
  padding: 0px 30px;
  transition: all 1s;
  text-transform: uppercase;
}

.navbar .btn-outline-primary:hover {
  color: #fff;
  background-color: #dc4f72;
  border-color: #dc4f72;
}

.navbar .schedule a:hover {
  outline: 0;
}

header.header {
  background-color: #fff;
  padding: 0px;
  height: 90px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
  transition: all 0.5s ease-in-out;
}

header.header.active {
  background-color: #fff;
  padding: 0px;
  height: 70px;
  box-shadow: 0 3px 9px rgba(0, 0, 0, 0.05);
}

header .navbar {
  transition: all 0.5s ease-in-out;
}

header .navbar.active {
  padding-top: 9px !important;
  padding-bottom: 9px !important;
}

/* breadcrumb  */
.breadcrumb_home {
  padding: 15px 20px;
  margin-top: 90px;
}

.breadcrumb_home a {
  color: #dc4f72;
  text-decoration: none;
  transition: all 0.3s;
  font-size: 14px;
}

.breadcrumb_home a:hover {
  text-decoration: underline;
}

/* SERVICES PAGE  */
/* services  */
.services h2 {
  font-size: 46px;
  text-align: center;
  font-weight: 800;
  padding: 30px;
}

.services .content_left h3 {
  font-size: 42px;
  font-weight: 600;
}

.services .content_left h4 {
  color: #999;
  padding: 30px 0;
}

.services .content_left button {
  color: #fff;
  background-color: #dc4f72;
  border-style: none;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0px 30px;
  margin: 30px 0;
  transition: all 0.5s;
}

.services .content_left button:hover {
  background-color: #cf2952;
}

.services .content_right .item {
  padding-bottom: 30px;
}

.services .item .icon {
  width: 80px;
  height: 80px;
  line-height: 80px;
  background: #f7f9fc;
  text-align: center;
  border-radius: 50%;
  margin-bottom: 15px;
  display: block;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

.services .content_right h5 {
  font-weight: 700;
}

/* features .services */

.content-left,
.content-right {
  padding: 2rem;
}

.features_services .title h6 {
  color: #dc4f72;
  font-weight: 700;
}

.features_services .title h2 {
  font-size: 46px;
  font-weight: 700;
}

.features_services .title p {
  color: #656f7b;
  padding-bottom: 30px;
}

.features_services .row h3 {
  font-size: 38px;
  font-weight: 700;
}

.features_services .row p {
  color: #656f7b;
  line-height: 30px;
}

.features_services .row img {
  max-width: 100%;
  height: auto;
  border-radius: 6px;
  transition: all 0.5s;
}

.features_services .row img:hover {
  transform: translateY(-10px);
}

.features_services li {
  list-style: none;
  line-height: 35px;
}

.features_services li i {
  color: #dc4f72;
  margin-right: 12px;
  background: rgba(220, 79, 114, 0.1);
  font-size: 10px;
  padding: 8px;
  border-radius: 50%;
  opacity: 0.5;
  display: inline-block;
}

.features_services li span {
  color: black;
}

.features_services .col-lg-6 button {
  color: #fff;
  background-color: #dc4f72;
  border-style: none;
  line-height: 52px;
  font-weight: 700;
  font-size: 14px;
  padding: 0 30px;
  margin-top: 30px;
  transition: all 0.5s;
  margin-bottom: 60px;
}

.features_services .col-lg-6 button:hover {
  background-color: #cf2952;
}

/* products */
.products h6 {
  color: #dc4f72;
  font-weight: 700;
}

.products h3 {
  font-size: 46px;
  font-weight: 700;
}

.products .text_all p {
  color: #656f7b;
  padding-bottom: 30px;
}

.products .title {
  max-width: 750px;
  margin: 0 auto;
}

.products .bg img {
  border-radius: 50%;
  max-width: 100%;
  transition: all 0.5s;
  border: 5px solid #f8f9fa;
}

.products .bg img:hover {
  transform: translateY(-10px);
}

.products .number span {
  font-size: 20px;
  color: #dc4f72;
  background: #ffffff;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  line-height: 40px;
  border-radius: 50%;
  font-weight: 700;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.075);
}

.products .document h4 {
  font-weight: 800;
  font-size: 18px;
  transition: all 0.5s;
  margin-bottom: 5px;
  color: #2c3038;
  cursor: pointer;
}

.products .document h4:hover {
  color: #dc4f72;
}

/* foooter */
footer h3 {
  font-size: 20px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 700;
}

.footer_item li a {
  color: #656f7b;
  font-size: 15px;
  line-height: 25px;
  padding: 0;
  text-decoration: none;
}

footer h4 {
  font-size: 18px;
  line-height: 25px;
  color: #2c3038;
  margin-bottom: 30px;
  font-weight: 500;
}

footer input[type="email"] {
  padding: 12px 20px;
  width: 78%;
  color: #2c3038;
  font-weight: 600;
  outline: 0;
}

footer button {
  background: #dc4f72;
  font-weight: 600;
  padding: 12px 20px;
  cursor: pointer;
  width: 20%;
  outline: 0;
}

footer p {
  line-height: 22px;
  color: #5a5a5a;
}

.footer_icon li a {
  color: #2c3038;
  width: 36px;
  height: 36px;
  line-height: 36px;
  display: inline-block;
  border-radius: 50%;
  text-align: center;
}

footer i {
  font-size: 15px;
  line-height: 36px;
}

footer a:hover {
  color: #dc4f72 !important;
  transition: 0.5s ease;
}

/* back to top */
.back_to_top {
  position: fixed;
  bottom: 0px;
  right: 0px;
  width: 50px;
  line-height: 50px;
  text-align: center;
  background-color: #f55f8d;
  border-radius: 6px;
  opacity: 0;
  visibility: hidden;
}

.back_to_top i {
  color: white;
}

/* style of button back to top  */
.cd-top--is-visible {
  visibility: visible;
  opacity: 0.8;
}

.cd-top--is-visible:hover {
  opacity: 1;
}

/* responsive */
@media screen and (min-width: 1400px) {
  .products .bg img {
    max-width: 75%;
  }
}

@media screen and (max-width: 1200px) {

  /* header */
  header .navbar .btn {
    line-height: 40px;
    font-weight: 700;
    padding: 0px 20px;
  }

  header .nav-item {
    padding-right: 0px !important;
  }

  .navbar .navbar-nav .nav-item .dropdown_icon i {
    font-size: 10px;
    position: absolute;
    right: -6px;
    top: 16px;
  }

  /* products */
  .products .bg {
    padding-top: 30px;
  }

  /* about */
  .about .about_bg img {
    height: auto;
  }
}

@media screen and (max-width: 992px) {

  /* header */
  header .navbar-brand {
    flex-grow: 1;
  }

  header .mode {
    order: 0;
    flex-grow: 0;
    padding-right: 20px;
  }

  header {
    height: auto;
  }

  header .navbar .navbar-toggler {
    border: 1px solid #dc4f72;
    background: #dc4f72;
    padding: 4px 6px;
    flex-grow: 0;
  }

  header .navbar .navbar-toggler:focus {
    box-shadow: none;
    border: 1px solid #f0bf0d;
  }

  header .navbar-nav li,
  header .search,
  header .schedule {
    text-align: center;
  }

  header .navbar-collapse {
    background-color: #ffffff;
    width: 100%;
  }

  .dark header .navbar-collapse {
    background-color: #131617;
    border: 1px solid #333;
    width: 100%;
  }

  .navbar a.nav-link::before,
  .navbar a.dropdown-item::before {
    display: none;
  }

  .navbar .navbar-nav .nav-item .dropdown_icon i {
    top: 15px;
    right: 15px;
  }

  .navbar .btn {
    line-height: 44px;
    padding: 0 20px;
  }

  .navbar .schedule {
    margin-bottom: 15px;
  }

  /* services */
  .services h2 {
    line-height: 42px;
  }

  .services .content_left h3 {
    font-size: 30px;
    line-height: 1;
  }

  .services .content_right {
    padding: 0 15px;
  }

  /* .products */
  .products .bg img {
    width: 300px;
    margin: 20px auto 40px;
  }

  .products .bg {
    padding-top: 0px;
  }

  /* footer */
  footer .container>div {
    flex-direction: column;
  }

  footer h3 {
    margin-bottom: 18px;
  }
}

@media screen and (max-width: 576px) {
  .text_all h3 {
    font-size: 32px;
    line-height: 42px;
  }

  .navbar .overlay .closebtn {
    right: 10px;
  }
}